{deps, [
        {basho_stats, "",
         {git, "https://github.com/knutin/basho_stats.git", {branch, "master"}}},
        {bisect, "",
         {git, "https://github.com/knutin/bisect.git", {branch, "master"}}}
%%        {erlang_murmurhash, "",
%%         {git, "https://github.com/thekvs/erlang-murmurhash.git", {branch, "master"}}},
       ]}.
