{cover_enabled, true}.
{deps, [
        {bisect, "",
         {git, "https://github.com/knutin/bisect.git", {branch, "master"}}}
       ]}.


{port_specs, [
              {"priv/hyper_carray.so", ["c_src/hyper_carray.c"]}
             ]}.

{port_env, [
            {"CC", "c99"},
            {"CFLAGS", "$CFLAGS -Wall -Werror -O3"}
           ]}.
