{cover_enabled, true}.
{deps, [
        {bisect, "",
         {git, "https://github.com/knutin/bisect.git", {branch, "master"}}}
       ]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.


{port_specs, [
              {"priv/hyper_carray.so", ["c_src/hyper_carray.c"]}
             ]}.

{port_env, [
            {"CC", "cc"},
            {"CFLAGS", "$CFLAGS -std=c99 -Wall -Werror -O3"}
           ]}.
