{cover_enabled, true}.
{deps, [
        {basho_stats, "",
         {git, "https://github.com/knutin/basho_stats.git", {branch, "master"}}},
        {bisect, "",
         {git, "https://github.com/knutin/bisect.git", {branch, "master"}}},
        {proper, "",
         {git,"https://github.com/manopapad/proper.git", "master"}},
        {stdlib2, "",
         {git, "git://github.com/cannedprimates/stdlib2.git", {branch, "master"}}}
       ]}.
